.App {
  text-align: center;
  text-decoration: underline;
  background-color: #b3bf40;
  border: 2px solid grey;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


/* Page Layout and Contact Form */




.footer {
  display: flex;
  border-top: 3px solid burlywood;
  align-items: center;
  justify-content: space-between;
  background-color: #609179;
  padding: 20px  5%;
  
}

.aboutMe {
  border: 2px burlywood solid;
 
  max-width: 100%;
  margin: 5%;
  font-size: 2rem;
}
@media only screen and (max-width: 768){
  .card {
    flex-direction: row;
  }
  .aboutMe {
    position: absolute;
    border: 2px black solid;
    max-width: 100%;
    margin: 5%;

  }

  .footer {
    display: flex;
    border-top: 3px solid burlywood;
    align-items: center;
    justify-content: space-evenly;
    background-color: #609179;
  }

  .links {
    display: none;
  }
  .links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #609179;
    align-items: center;
    justify-content: center;
  }
  

  .bars-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 40px;
    z-index: 4;
    position: relative;
  }

  .bars-button span {
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .bars-button.active span:nth-child(2) {
    display: none;
  }
  .bars-button.active span:nth-child(1) {
    position: absolute;
    transform: rotate(-45deg);
  }
  .bars-button.active span:nth-child(3) {
    position: absolute;
    transform: rotate(45deg);
  }

  

}