
.content {
    display: flex;
    flex-direction: column;
    /* margin: 15%; */
    align-items: center;
    justify-content: space-between;
   
 
}
.header {
    margin: 15%;
    margin-bottom: 50%;
}




.card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;

 
}
.cards {
   margin: auto; 
}

img {
    max-width: 100%;
    padding: 7%;
}