.homepage {
 
 align-items: center;
  justify-content: space-between;
}
.top-content{
  display:flex;
  flex-wrap: row;
  justify-content: space-between;

}
.headShot {
  flex-direction: row;
  width: 250px;
  padding: 1%;
 
}
.headShot img {
  width: 100%;
}



.text-content {
  text-align: center;
  padding: 4px;
  margin: 2%;
}



.card {
display: flex;
text-align: center;


}
.cards {
  padding: 5%;
  margin: auto;
  border-bottom: 2px burlywood solid;
  
  
}

img {
  height: 100%;
  border-radius: 15%;
  object-fit: contain;
}


@media only screen and (max-width: 880px) {
  .header {
    flex-direction: column;
    max-width: 100%;
  }
  .card {
    flex-direction: column;
    max-width: 100%;
   
  }
}
